<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Buy4Equality</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.hrc.guide</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>DonationURL</key>
	<string>https://secure3.convio.net/hrc/site/SPageServer?pagename=main_donate_go</string>
	<key>ScoreCardURLPrefix</key>
	<string>http://www.hrc.org/issues/workplace/organization_profile.asp?organization_id=</string>
	<key>ScoreCardURLSuffix</key>
	<string>&amp;search_id=1&amp;search_type=Quick</string>
	<key>AppStoreID</key>
	<string>345546590</string>
	<key>AppStoreIDCompounds</key>
	<string>336805670</string>
	<key>CoreDataCrashMessage</key>
	<string>Something bad happened. Please press the home button and relaunch the Buying Guide</string>
	<key>AppStoreURL</key>
	<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=%@&amp;mt=8&amp;uo=6</string>
</dict>
</plist>
