<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreID</key>
	<string>345618414</string>
	<key>AppStoreURL</key>
	<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=%@&amp;mt=8&amp;uo=6</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Buy4Equality</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>2011-iphone_icon-57x57.png</string>
		<string>2011-iphone_icon-114x114.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.hrc.guide</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.1</string>
	<key>CoreDataCrashMessage</key>
	<string>Something bad happened. Please press the home button and relaunch the Buying Guide</string>
	<key>DonationURL</key>
	<string>http://www.hrc.org/mobiledonate</string>
	<key>FacebookIcon</key>
	<string>http://www.hrc.org/buyersguide2010/images/2011-iphone_icon-90x90.png</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>ScoreCardURLPrefix</key>
	<string>http://www.hrc.org/buyersguide2011/profile.html?orgid=</string>
	<key>ScoreCardURLSuffix</key>
	<string></string>
</dict>
</plist>
