<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.flyingjalapenosoftware.dev.buyingguide</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>DonationURL</key>
	<string>https://secure3.convio.net/hrc/site/SPageServer?pagename=main_donate_go</string>
	<key>iTunesAppURL</key>
	<string>someURL</string>
	<key>ScoreCardURLSuffix</key>
	<string>&amp;search_id=1&amp;search_type=Quick</string>
	<key>ScoreCardURLPrefix</key>
	<string>http://www.hrc.org/issues/workplace/organization_profile.asp?organization_id=</string>
</dict>
</plist>
