<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGCompany</key>
	<array>
		<dict>
			<key>JSONKey</key>
			<string>OrgID</string>
			<key>CoreDataKey</key>
			<string>ID</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>CommonName</string>
			<key>CoreDataKey</key>
			<string>name</string>
			<key>kind</key>
			<string>String</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>CEIRating</string>
			<key>CoreDataKey</key>
			<string>ratingLevel</string>
			<key>kind</key>
			<string>Integer</string>
			<key>transformer</key>
			<string>ratingLevelFromRating</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>CEIRating</string>
			<key>CoreDataKey</key>
			<string>rating</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>NonResponderInd</string>
			<key>CoreDataKey</key>
			<string>nonResponder</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>NationalSponsorInd</string>
			<key>CoreDataKey</key>
			<string>partner</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>InclInBuyersGuideInd</string>
			<key>CoreDataKey</key>
			<string>includeInIndex</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>CategoryID</string>
			<key>CoreDataKey</key>
			<string>categories</string>
			<key>CoreDataRelationshipMethod</key>
			<string>addCategoriesObject:</string>
			<key>CoreDataRelationshipKey</key>
			<string>ID</string>
			<key>CoreDataRelationshipEntity</key>
			<string>BGCategory</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
	</array>
	<key>BGCategory</key>
	<array>
		<dict>
			<key>JSONKey</key>
			<string>CategoryID</string>
			<key>CoreDataKey</key>
			<string>ID</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>CategoryName</string>
			<key>CoreDataKey</key>
			<string>name</string>
			<key>kind</key>
			<string>String</string>
		</dict>
	</array>
	<key>BGBrand</key>
	<array>
		<dict>
			<key>JSONKey</key>
			<string>OrgBrandID</string>
			<key>CoreDataKey</key>
			<string>ID</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>BrandName</string>
			<key>CoreDataKey</key>
			<string>name</string>
			<key>kind</key>
			<string>String</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>CategoryID</string>
			<key>CoreDataKey</key>
			<string>categories</string>
			<key>CoreDataRelationshipKey</key>
			<string>ID</string>
			<key>CoreDataRelationshipEntity</key>
			<string>BGCategory</string>
			<key>CoreDataRelationshipMethod</key>
			<string>addCategoriesObject:</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>OrgID</string>
			<key>CoreDataKey</key>
			<string>companies</string>
			<key>CoreDataRelationshipKey</key>
			<string>ID</string>
			<key>CoreDataRelationshipEntity</key>
			<string>BGCompany</string>
			<key>CoreDataRelationshipMethod</key>
			<string>addCompaniesObject:</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
		<dict>
			<key>JSONKey</key>
			<string>BrandNationalSponsorInd</string>
			<key>CoreDataKey</key>
			<string>partner</string>
			<key>kind</key>
			<string>Integer</string>
		</dict>
	</array>
</dict>
</plist>
